<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" date-toggle="collapse"data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">General Assembly</a>
    </div>
  </div>
</nav>

<div class="container">
  <tbody>

    <table class="col-md-12 table table-bordered">
      <tr class="active">
        <th>Lobby</th>
      </tr>
      </table>
        <table class="col-md-12 table table-hover">
          <tr class="table">
            <td><%= image_tag "galogo_thumb.png" %></td>
            <td><a href="#">WELCOME TO GENERAL ASSEMBLY!</a><br><p>Post here and introduce yourself!</p></td>
          </tr>
        </table>
        <table class="col-md-12 table table-bordered">
          <tr class="active" >
            <th>Full-Time Courses</th>
          </tr>
        </table>
        <table class="col-md-12 table table-hover">
          <tr class="table">
            <td><%= image_tag "galogo_thumb.png" %></td>
            <td><a href="#">Web Development Immersive</a><p>Post here about anything WDI related!</p></td>
          </tr>
          <tr class="table">
            <td><%= image_tag "galogo_thumb.png" %></td>
            <td><a href="#">User Experience Design Immersive</a><p>Post here about anything UXDI related!</p></td>
          </tr>
        </table>
        <table class="col-md-12 table table-bordered">
          <tr class="active" >
            <th>Part-Time Courses</th>
          </tr>
        </table>
        <table class="col-md-12 table table-hover">
          <tr class="table">
            <td><%= image_tag "galogo_thumb.png" %></td>
            <td><a href="#">Digital Marketing</a><p>Post here about anything DM related!</p></td>
          </tr>
          <tr class="table">
            <td><%= image_tag "galogo_thumb.png" %></td>
            <td><a href="#">Front-End Web Development</a><p>Post here about anything FEWD related!</p></td>
          </tr>
          <tr class="table">
            <td><%= image_tag "galogo_thumb.png" %></td>
            <td><a href="#">Product Management</a><p>Post here about anything PM related!</p></td>
          </tr>
          <tr class="table">
            <td><%= image_tag "galogo_thumb.png" %></td>
            <td><a href="#">Data Science</a><p>Post here about anything DS related!</p></td>
          </tr>
          <tr class="table">
            <td><%= image_tag "galogo_thumb.png" %></td>
            <td><a href="#">Business Development and Sales</a><p>Post here about anything BDS related!</p></td>
          </tr>
          <tr class="table">
            <td><%= image_tag "galogo_thumb.png" %></td>
            <td><a href="#">Visual Design</a><p>Post here about anything VD related!</p></td>
          </tr>
          <tr class="table">
            <td><%= image_tag "galogo_thumb.png" %></td>
            <td><a href="#">Mobile Development</a><p>Post here about anything MOB related!</p></td>
          </tr>
          <tr class="table">
            <td><%= image_tag "galogo_thumb.png" %></td>
            <td><a href="#">User Experience Design</a><p>Post here about anything UXD related!</p></td>
          </tr>
        </table>
    </tbody>
  </table>
</div>