<h1>Off-Topic > Anything Goes! > Create</h1>


<%= form_for @anypost do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :body %>
  <%= f.submit 'submit', class:"button" %>
<% end %>

<%= link_to "Talk About Everything", anyposts_path %>